body {
  margin: 0;
  text-align: center;
  font-family: 'Podkova', serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0 auto;
  width: 25%;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: #c0c0c0;
  width: 6%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

.bird-img {
  position: absolute;
  top: 58%;
  left: 22%;
  width: 20%;
}

.main-header {
  position: relative;
  background-color: #E4F9F5;
}

.discription {
  margin: 0 auto;
  width: 25%;
  font-size: 1.875rem;
  color: #66bfbf;

}

.header-img {
  top: 50px;
  height: 100%;
  width: 100%;

}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.angel-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(180deg, #11cdd4, #11999e);
  font-size: 25px;
  color: #EAF6F6;
  padding: 8px;
}

.btn:hover {
  background-image: linear-gradient(180deg, #30e3cb, #2bc4ad);
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.intro {
  width: 30%;
  margin: auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #eaf6f6
}
